<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Winshow's Page</title>
  <link rel="stylesheet" href="/static/css/home_style.css">
</head>
<body>

  <!-- Header -->
  <header>
    <h1>Winshow's Page</h1>
    <nav>
      <a href="#">Home</a>
      <a href="/chatbox">ChatBox</a>
      <a href="#">Contact</a>
    </nav>
  </header>

  <!-- Main Content -->
  <main>
    <h2>Welcome to the Home Page</h2>
    <p>This is the main content area. <br/> 
        You can put anything you like here.</p>
    <img src="/static/images/ousa_cat_hero.png" />
  </main>

  <!-- Footer -->
  <footer>
    &copy; 2025 My Website. All rights reserved.
  </footer>

</body>
</html>
